@import "tailwindcss";

/* Fonts */
.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-spaceGrotesk {
  font-family: var(--font-space-grotesk);
}
html, body {
  font-family: var(--font-space-grotesk), sans-serif;
}

