@import "tailwindcss";
/* Fonts */
.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-spaceGrotesk {
  font-family: var(--font-space-grotesk);
}
html, body {
  font-family: var(--font-space-grotesk), sans-serif;
}
@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 30s linear infinite; /* Slowed down slightly for readability */
    will-change: transform; /* hardware acceleration */
  }

  /* Pause animation when user hovers over the logos */
  .animate-scroll-left:hover {
    animation-play-state: paused;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
